In [12]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
filename='/content/drive/My Drive/rating.xlsx'

In [15]:
rating=pd.read_excel(filename,skiprows=1)
rating.head()

     시간대  2019-01-01  ...  2019-12-31  2019-01-01 to 2019-12-31
0  02:00         0.0  ...       0.000                     0.003
1  02:01         0.0  ...       0.012                     0.003
2  02:02         0.0  ...       0.000                     0.004
3  02:03         0.0  ...       0.000                     0.004
4  02:04         0.0  ...       0.000                     0.004

[5 rows x 367 columns]

In [16]:
filename2='/content/drive/My Drive/retail.xlsx'

In [17]:
retail=pd.read_excel(filename2,skiprows=1)
retail.head()

                 방송일시  노출(분)    마더코드  ...  상품군   판매단가        취급액
0 2019-01-01 06:00:00   20.0  100346  ...   의류  39900  2099000.0
1 2019-01-01 06:00:00    NaN  100346  ...   의류  39900  4371000.0
2 2019-01-01 06:20:00   20.0  100346  ...   의류  39900  3262000.0
3 2019-01-01 06:20:00    NaN  100346  ...   의류  39900  6955000.0
4 2019-01-01 06:40:00   20.0  100346  ...   의류  39900  6672000.0

[5 rows x 8 columns]

In [18]:
retail['노출(분)'] = retail['노출(분)'].round() #반올림
retail['노출(분)'].fillna(method='ffill', inplace=True)

In [ ]:
retail.dtypes

방송일시     datetime64[ns]
노출(분)           float64
마더코드              int64
상품코드              int64
상품명              object
상품군              object
판매단가              int64
취급액             float64
dtype: object

In [19]:
import datetime as dt
retail['date']= retail['방송일시'].dt.date
retail['time']= retail['방송일시'].dt.time 
retail['exposure']=retail['노출(분)']

In [20]:
retail.head()

                 방송일시  노출(분)    마더코드  ...        date      time exposure
0 2019-01-01 06:00:00   20.0  100346  ...  2019-01-01  06:00:00     20.0
1 2019-01-01 06:00:00   20.0  100346  ...  2019-01-01  06:00:00     20.0
2 2019-01-01 06:20:00   20.0  100346  ...  2019-01-01  06:20:00     20.0
3 2019-01-01 06:20:00   20.0  100346  ...  2019-01-01  06:20:00     20.0
4 2019-01-01 06:40:00   20.0  100346  ...  2019-01-01  06:40:00     20.0

[5 rows x 11 columns]

In [ ]:
retail['start_time'] = pd.to_datetime(retail['time'], format='%H:%M:%S')
retail['start_time'] = [time.time() for time in retail['start_time']]
retail['exposure'] = pd.to_timedelta(retail['exposure'],unit='m')
retail.head()

                 방송일시  노출(분)    마더코드  ...      time exposure start_time
0 2019-01-01 06:00:00   20.0  100346  ...  06:00:00 00:20:00   06:00:00
1 2019-01-01 06:00:00   20.0  100346  ...  06:00:00 00:20:00   06:00:00
2 2019-01-01 06:20:00   20.0  100346  ...  06:20:00 00:20:00   06:20:00
3 2019-01-01 06:20:00   20.0  100346  ...  06:20:00 00:20:00   06:20:00
4 2019-01-01 06:40:00   20.0  100346  ...  06:40:00 00:20:00   06:40:00

[5 rows x 12 columns]

In [21]:
retail['start_time']=retail['방송일시']
retail['exposure'] = pd.to_timedelta(retail['exposure'],unit='m')
retail['end_time'] = retail['방송일시'] + retail['exposure']
retail=retail.drop(columns='time')
retail.head()

                 방송일시  노출(분)  ...          start_time            end_time
0 2019-01-01 06:00:00   20.0  ... 2019-01-01 06:00:00 2019-01-01 06:20:00
1 2019-01-01 06:00:00   20.0  ... 2019-01-01 06:00:00 2019-01-01 06:20:00
2 2019-01-01 06:20:00   20.0  ... 2019-01-01 06:20:00 2019-01-01 06:40:00
3 2019-01-01 06:20:00   20.0  ... 2019-01-01 06:20:00 2019-01-01 06:40:00
4 2019-01-01 06:40:00   20.0  ... 2019-01-01 06:40:00 2019-01-01 07:00:00

[5 rows x 12 columns]

In [ ]:
retail.dtypes

방송일시           datetime64[ns]
노출(분)                 float64
마더코드                    int64
상품코드                    int64
상품명                    object
상품군                    object
판매단가                    int64
취급액                   float64
date                   object
exposure      timedelta64[ns]
start_time     datetime64[ns]
end_time       datetime64[ns]
dtype: object

In [ ]:
rating.tail()

                     시간대  2019-01-01  ...  2019-12-31  2019-01-01 to 2019-12-31
1436               01:56       0.000  ...       0.000                     0.004
1437               01:57       0.000  ...       0.000                     0.004
1438               01:58       0.000  ...       0.000                     0.004
1439               01:59       0.000  ...       0.000                     0.004
1440  월화수목금토일02:00-01:59       0.004  ...       0.005                     0.004

[5 rows x 367 columns]

In [22]:
rating = rating.sort_values('시간대')
rating.drop(rating.tail(1).index,inplace=True)
rating = rating.reset_index()
rating=rating.drop(columns=['index'])
rating=rating.drop(rating.columns[-1],axis=1)

In [ ]:
rating.head()

     시간대  2019-01-01  2019-01-02  ...  2019-12-29  2019-12-30  2019-12-31
0  00:00         0.0       0.040  ...         0.0         0.0       0.024
1  00:01         0.0       0.000  ...         0.0         0.0       0.024
2  00:02         0.0       0.023  ...         0.0         0.0       0.024
3  00:03         0.0       0.040  ...         0.0         0.0       0.024
4  00:04         0.0       0.000  ...         0.0         0.0       0.024

[5 rows x 366 columns]

In [ ]:
rating.tail()

        시간대  2019-01-01  2019-01-02  ...  2019-12-29  2019-12-30  2019-12-31
1435  23:55         0.0        0.00  ...         0.0         0.0       0.024
1436  23:56         0.0        0.00  ...         0.0         0.0       0.024
1437  23:57         0.0        0.04  ...         0.0         0.0       0.024
1438  23:58         0.0        0.04  ...         0.0         0.0       0.024
1439  23:59         0.0        0.04  ...         0.0         0.0       0.024

[5 rows x 366 columns]

In [23]:
r1=pd.melt(rating,var_name='date',id_vars=['시간대'])
r2=r1
r2['broad_t']=0
r2

          시간대        date  value  broad_t
0       00:00  2019-01-01  0.000        0
1       00:01  2019-01-01  0.000        0
2       00:02  2019-01-01  0.000        0
3       00:03  2019-01-01  0.000        0
4       00:04  2019-01-01  0.000        0
...       ...         ...    ...      ...
525595  23:55  2019-12-31  0.024        0
525596  23:56  2019-12-31  0.024        0
525597  23:57  2019-12-31  0.024        0
525598  23:58  2019-12-31  0.024        0
525599  23:59  2019-12-31  0.024        0

[525600 rows x 4 columns]

In [24]:
r2['broad_t']=pd.to_datetime(r2.date.astype(str)+' '+r2['시간대'].astype(str))
r2=r2.drop(columns=['시간대'])
r2

              date  value             broad_t
0       2019-01-01  0.000 2019-01-01 00:00:00
1       2019-01-01  0.000 2019-01-01 00:01:00
2       2019-01-01  0.000 2019-01-01 00:02:00
3       2019-01-01  0.000 2019-01-01 00:03:00
4       2019-01-01  0.000 2019-01-01 00:04:00
...            ...    ...                 ...
525595  2019-12-31  0.024 2019-12-31 23:55:00
525596  2019-12-31  0.024 2019-12-31 23:56:00
525597  2019-12-31  0.024 2019-12-31 23:57:00
525598  2019-12-31  0.024 2019-12-31 23:58:00
525599  2019-12-31  0.024 2019-12-31 23:59:00

[525600 rows x 3 columns]

In [25]:
retail['노출(분)'].unique()

array([20., 30., 17., 27., 16., 26., 60., 12.,  2., 15., 25.,  3., 14.,
       22., 10., 13., 23., 18.,  5.,  9., 19.,  7., 11., 40.])

In [26]:
retail['st']=[time.time() for time in retail['start_time']]
retail=retail.drop(columns=['st'])

r2['bt']=[time.time() for time in r2['broad_t']]
r2.head()

         date  value             broad_t        bt
0  2019-01-01    0.0 2019-01-01 00:00:00  00:00:00
1  2019-01-01    0.0 2019-01-01 00:01:00  00:01:00
2  2019-01-01    0.0 2019-01-01 00:02:00  00:02:00
3  2019-01-01    0.0 2019-01-01 00:03:00  00:03:00
4  2019-01-01    0.0 2019-01-01 00:04:00  00:04:00

In [27]:
r2=r2.drop(columns=['date','bt'])
r2=r2[r2.value != 0]

In [28]:
r2=r2[r2.value != 0]
r2

        value             broad_t
34      0.012 2019-01-01 00:34:00
35      0.012 2019-01-01 00:35:00
36      0.012 2019-01-01 00:36:00
37      0.012 2019-01-01 00:37:00
38      0.012 2019-01-01 00:38:00
...       ...                 ...
525595  0.024 2019-12-31 23:55:00
525596  0.024 2019-12-31 23:56:00
525597  0.024 2019-12-31 23:57:00
525598  0.024 2019-12-31 23:58:00
525599  0.024 2019-12-31 23:59:00

[111817 rows x 2 columns]

In [29]:
#index 설정
r2.set_index('broad_t',inplace=True)

In [30]:
from datetime import datetime,timedelta
from math import ceil
from dateutil.parser import parse

In [31]:

# average_rating
def average_rating(retail,r2):
    st = str(retail.start_time)
    fi = str(retail.start_time+timedelta(minutes=ceil(retail['노출(분)']))) 
    return (r2[st:fi].sum()/ceil(retail['노출(분)']))
retail['rating'] = retail.apply(average_rating,r2=r2,axis=1)

In [32]:
#max_rating
def max_rating(retail,r2):
    st=str(retail.start_time)
    fi=str(retail.start_time+timedelta(minutes=ceil(retail['노출(분)'])))
    return (r2[st:fi].max())

retail['max_rating']=retail.apply(max_rating,r2=r2,axis=1)

In [33]:
retail.iloc[3000:3030]

                    방송일시  노출(분)  ...    rating  max_rating
3000 2019-02-02 11:00:00   20.0  ...  0.000000         NaN
3001 2019-02-02 11:00:00   20.0  ...  0.000000         NaN
3002 2019-02-02 11:20:00   20.0  ...  0.000000         NaN
3003 2019-02-02 11:20:00   20.0  ...  0.000000         NaN
3004 2019-02-02 11:40:00   20.0  ...  0.000000         NaN
3005 2019-02-02 11:40:00   20.0  ...  0.000000         NaN
3006 2019-02-02 12:00:00   20.0  ...  0.000000         NaN
3007 2019-02-02 12:20:00   20.0  ...  0.000000         NaN
3008 2019-02-02 12:40:00   20.0  ...  0.003600       0.029
3009 2019-02-02 13:00:00   20.0  ...  0.001400       0.014
3010 2019-02-02 13:20:00   20.0  ...  0.000000         NaN
3011 2019-02-02 13:40:00   20.0  ...  0.000000         NaN
3012 2019-02-02 14:00:00   20.0  ...  0.000000         NaN
3013 2019-02-02 14:20:00   20.0  ...  0.007000       0.040
3014 2019-02-02 14:40:00   20.0  ...  0.000000         NaN
3015 2019-02-02 15:00:00   20.0  ...  0.001800       0.017
3016 2019-02-02 15:20:00   20.0  ...  0.002900       0.040
3017 2019-02-02 15:40:00   20.0  ...  0.000000         NaN
3018 2019-02-02 16:00:00   20.0  ...  0.005400       0.020
3019 2019-02-02 16:20:00   20.0  ...  0.003700       0.020
3020 2019-02-02 16:40:00   20.0  ...  0.006800       0.034
3021 2019-02-02 17:00:00   30.0  ...  0.004100       0.047
3022 2019-02-02 17:30:00   30.0  ...  0.003733       0.014
3023 2019-02-02 18:20:00   20.0  ...  0.001350       0.027
3024 2019-02-02 18:40:00   20.0  ...  0.000700       0.014
3025 2019-02-02 19:00:00   20.0  ...  0.000250       0.005
3026 2019-02-02 19:00:00   20.0  ...  0.000250       0.005
3027 2019-02-02 19:00:00   20.0  ...  0.000250       0.005
3028 2019-02-02 19:20:00   20.0  ...  0.000000         NaN
3029 2019-02-02 19:20:00   20.0  ...  0.000000         NaN

[30 rows x 14 columns]